<div class="container">
	<div class="row">
		<div class="col">
			<h1><%= @post.title %></h1>
		</div>
	</div>
	<div class="row">
		
		<div class="col-md-6">
			<p>
				<%= @post.content %>
			</p>
		</div>
		<% if @post.photo.present? %>
		<%= image_tag @post.photo, :size => '1000x1000' %>
		<% else %>
		<img src="/georgi.jpg">
		<% end %>
	</div>
</div>